* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.main-header {
    background-color: #43281c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbf2c0;
}

.logo {
    height: 27px;
}

.brand-name {
    margin-left: 5px;
}

.box-title {
    color: #43281c;
    font-weight: normal;
    font-size: 16px;
}

.box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    padding: 15px;
}

.place-order-button {
    background-color: #deb993;
    border-radius: 100px;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    grid-area: place-order-button;
}

.place-order-button:hover {
    background-color: #d5a676;
}

.main-page {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    margin: 30px;
    grid-template-areas:
        "order-items order-name"
        "order-items order-payment"
        "total total"
        "place-order-button place-order-button";
}

.order-items {
    grid-area: order-items;
}


.order-name {
    grid-area: order-name;
}

.order-payment {
    grid-area: order-payment;
}

.total {
    grid-area: total;
    display: flex;
    justify-content: center;
    margin: 0px 300px;
}

.total-table {
    width: 100%;
    margin-bottom: 20px;
}

.total-table td {
    padding: 10px;
}

.total-table td:last-child {
    text-align: right;
}

.total-table tr:last-child {
    font-weight: bold;
}

.item {
    display: grid;
    border-bottom: 2px solid #deb993;
    padding: 10px;
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 8px;
    grid-template-areas:
        "item-quantity item-name item-price"
        "item-quantity item-options item-price";
}

.item:last-child {
    border-bottom: none;
}

.item-quantity {
    grid-area: item-quantity;
}

.item-name {
    grid-area: item-name;
}

.item-price {
    grid-area: item-price;
}

.item-options {
    grid-area: item-options;
    padding: 0;
    list-style: none;
}

.bold-font {
    font-weight: bold;
}

.item-option {
    color: #b08968;
}

.user-input {
    border-radius: 100px;
    border: 2px solid #885a2d;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 10px;
    text-indent: 18px;
    font-size: 18px;
}

.user-input-small {
    width: 50%;
}

.user-input-label {
    color: #885a2d;
    background-color: #eee1d5;
    position: absolute;
    top: -6px;
    left: 30px;
    padding: 0px 2px;
    font-size: 12px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}